# Scripts
*.sh

# Directory
.idea/
obj/

# Executable files
liso_client
liso_server
example

# Compiled files
src/lex.yy.c
src/y.tab.c
src/y.tab.h

# log
wget-log
access.log
error.log

instruction.pdf